annotated-types
anyio
certifi
charset-normalizer
distro
elevenlabs
h11
httpcore
httpx
idna
jiter
openai
pillow
pydantic
pydantic-core
pydantic-settings
python-dotenv
pytest-asyncio
requests
sniffio
tqdm
typing-extensions
typing-inspection
urllib3
websockets
allure-pytest

# FastAPI
fastapi
uvicorn[standard] 